$colorSelectSity: #F16D7F;
$widthSite: 1140px;
$backBlock: #222;
$colorText: #000;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid) / 3;
$mainBackColor: #222222;
$mainColorText: #F16D7F;
$sizeMain: 1141px;
$fullSize: 1600px;