input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

button:hover {
  filter: opacity(80%);
}

.color-text {
  color: #F16D7F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-color: #222222;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header .left-head {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header .right-head {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.main .top-part {
  background-color: #F8F3F4;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: #F16D7F;
  padding-top: 59px;
  padding-left: 230px;
  padding-bottom: 60px;
  margin-bottom: 96px;
}
.main .buy-part {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 128px;
  margin-bottom: 128px;
}
.main .buy-part .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.main .buy-part .left-side .products {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main .buy-part .left-side .products .product {
  margin-left: 8px;
  margin-right: 8px;
  min-width: 358px;
  display: flex;
  flex-direction: row;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  height: 306px;
}
.main .buy-part .left-side .products .product__left__side {
  display: flex;
}
.main .buy-part .left-side .products .product__left__side img {
  height: auto;
  width: 262px;
  min-width: 143px;
}
.main .buy-part .left-side .products .product__right__side {
  margin-left: 32px;
  margin-right: 57px;
  padding-top: 22px;
  gap: 42px;
  display: flex;
  flex-direction: column;
}
.main .buy-part .left-side .products .product__right__side .big-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}
.main .buy-part .left-side .products .product__right__side .discription {
  gap: 6px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  color: #575757;
}
.main .buy-part .left-side .products .product__right__side .discription .quantity {
  display: flex;
  flex-direction: row;
}
.main .buy-part .left-side .products .product__right__side .discription .quantity .number_col {
  border: 1px solid #EAEAEA;
}
.main .buy-part .left-side .products .product .esc {
  margin-top: 17px;
  margin-right: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: start;
}
.main .buy-part .left-side .buttons {
  display: flex;
  gap: 8px;
  min-width: 360px;
}
.main .buy-part .left-side .buttons .button {
  width: 235px;
  height: 50px;
  border: 1px solid #A4A4A4;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}
.main .buy-part .right-side {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  gap: 47px;
}
.main .buy-part .right-side .form-adress {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .buy-part .right-side .form-adress .input {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  color: #A4A4A4;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 16px;
  width: 360px;
}
.main .buy-part .right-side .form-adress .button-form {
  width: 101.41px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14.2px 12px 15.21px;
}
.main .buy-part .right-side .form-adress .button-form .text {
  text-wrap: nowrap;
  text-align: left;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.2px;
}
.main .buy-part .right-side .sum-buy {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 214px;
  gap: 19px;
  background: #F5F3F3;
}
.main .buy-part .right-side .sum-buy .sum {
  padding-right: 34px;
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #A4A4A4;
}
.main .buy-part .right-side .sum-buy .sum .sub-total {
  font-size: 11px;
}
.main .buy-part .right-side .sum-buy .sum .grade-total {
  font-size: 16px;
  color: #222;
}
.main .buy-part .right-side .sum-buy .line {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .buy-part .right-side .sum-buy .line-draw {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
}
.main .buy-part .right-side .sum-buy .buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .buy-part .right-side .sum-buy .buy .button__to__buy {
  border: hidden;
  padding: 15px 43px 16px 41px;
  background: #F16D7F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .buy-part .right-side .sum-buy .buy .button__to__buy:hover {
  filter: opacity(80%);
}
.main .buy-part .right-side .sum-buy .buy .text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.main .subscribe {
  background: rgba(244, 244, 244, 0.7);
  background-image: url("../images/photo.jpg");
  height: 448px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.main .subscribe .subscribe-left {
  width: 359.45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main .subscribe .subscribe-left img {
  width: 96px;
  height: 96px;
}
.main .subscribe .subscribe-left .text-sub {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.main .subscribe .subscribe-left .text-sub span {
  font-style: italic;
}
.main .subscribe .subscribe-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 557px;
  height: 137px;
  flex-direction: column;
  gap: 27px;
}
.main .subscribe .subscribe-right .sub {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
}
.main .subscribe .subscribe-right .sub-disc {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
}
.main .subscribe .subscribe-right img {
  width: 356px;
  height: 49px;
}
.main .subscribe .input-sub {
  position: relative;
  display: flex;
  width: 356px;
  height: 49px;
}
.main .subscribe .input-sub .sub-input {
  width: 100%;
  height: 49px;
  border-radius: 50px 0 0 50px;
  padding-left: 22px;
  border: none;
  background: #E1E1E1;
}
.main .subscribe .input-sub .b {
  height: 49px;
  background: #F16D7F;
  border: none;
  border-radius: 0 50px 50px 0;
  padding: 8px;
  position: absolute;
  left: 270px;
}
.main .subscribe .input-sub .b-text {
  width: 85px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}

.footer {
  background-color: #222222;
  height: 79px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer .left-footer {
  font-size: 16px;
  color: #FBFBFB;
  font-weight: 400;
  line-height: 19.2px;
}

@media screen and (max-width: 769px) {
  .main .subscribe {
    padding-top: 64px;
    padding-bottom: 140px;
    max-height: 693px;
    background-size: 100% 100%;
    gap: 48px;
    flex-direction: column;
  }
  .main .buy-part {
    flex-direction: column;
  }
}
@media screen and (max-width: 757px) {
  .header .right-head .human__ico,
  .header .buyer__ico {
    display: none;
  }
  .main .buy-part .left-side .products .product__right__side .big-text {
    font-size: 16px;
  }
  .main .buy-part .left-side .products .product__right__side .discription {
    font-size: 14px;
  }
  .main .buy-part .left-side .products .product__right__side {
    margin: 13px 31px 37px 17px;
    gap: 10px;
    padding-top: 0;
  }
  .main .buy-part .left-side .products .product__right__side .discription {
    gap: 0px;
  }
  .main .buy-part .left-side .products .product {
    height: 188px;
  }
  .main .buy-part .left-side .buttons .button {
    width: 175px;
    height: 35px;
  }
  .main .top-part {
    padding-left: 120px;
  }
  .main .subscribe {
    height: 550px;
  }
  .main .subscribe .subscribe-right {
    width: 341px;
  }
  .main .subscribe .input-sub .b {
    padding: 3px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .main .buy-part .left-side .products .product__left__side img {
    width: 134px;
    height: 188px;
  }
}/*# sourceMappingURL=style.css.map */