@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  border: none;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

button:hover {
  filter: opacity(80%);
}

.color-text {
  color: #F16D7F;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
}

.header {
  background-color: #222222;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header .left-head {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header .right-head {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.main .section-main {
  display: flex;
  height: 100vh;
}
.main .section-main img {
  height: 100%;
}
.main .section-main .right-side {
  display: flex;
  align-items: center;
  width: 100%;
  background: #F1E4E6;
  padding-left: 64px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}
.main .section-main .right-side .text {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
}
.main .section-main .right-side .bolt-text {
  font-size: 48px;
  font-weight: 900;
  line-height: 57.6px;
}
.main .section-offer {
  margin-top: 64px;
  margin-bottom: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .section-offer .offer {
  max-width: 1142px;
  min-width: 736px;
  min-height: 303px;
  display: grid;
  grid-template-columns: repeat(3, minmax(232px, 360px));
  gap: 30px;
}
.main .section-offer .offer .card {
  position: relative;
  min-width: 232px;
  min-height: 167px;
}
.main .section-offer .offer .card .card_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  transform: translate(-50%, -50%);
}
.main .section-offer .offer .card .card__image {
  width: 100%;
  height: 100%;
}
.main .section-offer .offer .card .img-bg {
  background: rgba(33, 22, 22, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .section-offer .offer .card-big {
  grid-column: span 3;
  min-height: 116px;
}
.main .section-products {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .section-products .products {
  width: 1140px;
  font-weight: 400;
  text-align: left;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .section-products .products .title {
  font-size: 30px;
  line-height: 36px;
}
.main .section-products .products .disctiption {
  font-size: 14px;
  line-height: 16.8px;
  margin-top: 6px;
  margin-bottom: 48px;
}
.main .section-products .products .box-product {
  font-size: 13px;
  line-height: 15.6px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.main .section-products .products .box-product .product {
  background: #F8F8F8;
  width: 360px;
  height: 582px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main .section-products .products .box-product .product .content {
  flex-direction: column;
  display: flex;
  gap: 15px;
  margin-left: 16.46px;
  align-items: start;
}
.main .section-products .products .box-product .product .content .name {
  font-size: 13px;
  line-height: 15.6px;
}
.main .section-products .products .box-product .product .content .disc {
  font-size: 14px;
  line-height: 16.8px;
  color: #5d5d5d;
}
.main .section-products .products .box-product .product .content .price {
  font-size: 14px;
  line-height: 16.8px;
}
.main .section-products .products .button {
  margin-top: 63px;
  margin-bottom: 109px;
}
.main .section-products .products .button .b {
  border: 1px solid #F16D7F;
  padding: 15px 39px;
  background: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.main .info-company {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 341px;
  flex-direction: row;
  gap: 30px;
}
.main .info-company .box {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.main .info-company .box__name {
  text-align: center;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 23.95px;
  text-align: left;
  color: #FBFBFB;
}
.main .info-company .box__disc {
  text-align: center;
  font-size: 13.97px;
  font-weight: 300;
  line-height: 16.77px;
  text-align: center;
  color: #FBFBFB;
}
.main .subscribe {
  background: rgba(244, 244, 244, 0.7);
  background-image: url("../images/photo.jpg");
  height: 448px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.main .subscribe .subscribe-left {
  width: 359.45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main .subscribe .subscribe-left img {
  width: 96px;
  height: 96px;
}
.main .subscribe .subscribe-left .text-sub {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.main .subscribe .subscribe-left .text-sub span {
  font-style: italic;
}
.main .subscribe .subscribe-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 557px;
  height: 137px;
  flex-direction: column;
  gap: 27px;
}
.main .subscribe .subscribe-right .sub {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
}
.main .subscribe .subscribe-right .sub-disc {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
}
.main .subscribe .subscribe-right img {
  width: 356px;
  height: 49px;
}
.main .subscribe .input-sub {
  position: relative;
  display: flex;
  width: 356px;
  height: 49px;
}
.main .subscribe .input-sub .sub-input {
  width: 100%;
  height: 49px;
  border-radius: 50px 0 0 50px;
  padding-left: 22px;
  border: none;
  background: #E1E1E1;
}
.main .subscribe .input-sub .b {
  height: 49px;
  background: #F16D7F;
  border: none;
  border-radius: 0 50px 50px 0;
  padding: 8px;
  position: absolute;
  left: 270px;
}
.main .subscribe .input-sub .b-text {
  width: 85px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main .section-main .right-side {
    font-size: 24px;
  }
  .main .section-main .right-side .bold-text {
    font-size: 44px;
  }
  .main .section-offer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main .section-offer .offer {
    gap: 19px;
  }
  .main .section-products {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main .section-products .products .box-product {
    gap: 14px;
  }
  .main .info-company {
    height: 610px;
    flex-direction: column;
  }
  .main .subscribe {
    padding-top: 64px;
    padding-bottom: 140px;
    max-height: 693px;
    background-size: 100% 100%;
    gap: 48px;
    flex-direction: column;
  }
}
@media screen and (max-width: 757px) {
  .header .right-head .human__ico, .header .right-head .buyer__ico {
    display: none;
  }
  .main .section-main .left-side {
    display: none;
  }
  .main .section-main .right-side {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .section-offer .offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 375px;
  }
  .main .section-offer .offer .card {
    width: 343px;
    height: 248px;
  }
  .main .section-offer .offer .card-big {
    height: 111px;
  }
  .main .section-products .products .box-product {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .subscribe {
    height: 550px;
  }
  .main .subscribe .subscribe-right {
    width: 341px;
  }
  .main .subscribe .input-sub .b {
    padding: 3px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.footer {
  background-color: #222222;
  height: 79px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer .left-footer {
  font-size: 16px;
  color: #FBFBFB;
  font-weight: 400;
  line-height: 19.2px;
}/*# sourceMappingURL=style.css.map */